In [1]:
a = 10

In [2]:
type(a)

int

In [5]:
a='True'
type(a)

str

In [11]:
a = 'ineuron'

In [12]:
a[::-1]

'norueni'

In [14]:
a[5:0:1]

''

In [10]:
a[0:5:1]

'ineur'

In [7]:
a[-8]

IndexError: string index out of range

In [15]:
a[::-1]

'norueni'

In [22]:
a = "ineuron"
a.reverse()
print(a)

AttributeError: 'str' object has no attribute 'reverse'

# List examples

In [2]:
c = [1,23]
type(c)

list

In [4]:
s = list()
type(s)

list

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
thislist[2]

In [ ]:
s = list("apple", "banana", "cherry",1,2,3)

In [ ]:
len(thislist)

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
print(type(list1))

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

In [ ]:
type(list)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[0:4]

In [ ]:
print(thislist[2:])

In [ ]:
print(thislist[-4:-1])

In [ ]:
if 'grapes' in thislist:
    print("Yes it's present")
else:
    print("It's not present")

In [ ]:
thislist[1] = "blackcurrant"
thislist

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(list(thislist[i]))

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in thislist:
    print(i)

In [ ]:
thislist = ["apple", "banana", "cherry"]
[x for x in thislist]

In [ ]:
thislist = [1,2,3,4,5,6,2,2,3,4]
m = []
for i in thislist:
    if i>4:
        m.append(i*2)
m

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
[x for x in fruits if "a" in x]

In [ ]:
newlist = [x for x in range(10)]
newlist

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
newlist = [x if x != "banana" else "orange" for x in fruits ]

In [ ]:
newlist

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry","Apple"]
thislist.sort(key = str.lower)
print(thislist)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [ ]:
for i in "ankush":
    if i == 'k':
        break
    print(i)

In [ ]:
for i in "ankush":
    if i  == 'k':
        continue
    print(i)

In [ ]:
'my first name is {}, my last name is '.format('Ankush','Singh')

# Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

In [ ]:
t = (6 + 4j,)

In [ ]:
type(t)

In [ ]:
thistuple = ("apple", "banana", "cherry")
if 'kiwi' in thistuple:
    print('it is present')
else:
    print('not present')

In [ ]:
thistuple

In [ ]:
l = list(thistuple)

In [ ]:
l[0] = 'kiwi'

In [ ]:
thistuple = tuple(l)

In [ ]:
thistuple

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)


# set

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

# dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [ ]:
x

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

In [ ]:
x

In [ ]:
car.keys()

In [ ]:
car.values()

In [ ]:
car['color'] = 'red'

In [ ]:
car.items()

In [ ]:
car['brand'] = 'Audi'

In [ ]:
d = {}
for i in range(10):
    d[i] = i**2
    
d

In [ ]:
d.keys()

In [ ]:
for x in "banana":
  print(x)

In [ ]:
def test1():
    print('this is my function')

In [ ]:
test1()

In [ ]:
a,b = 5,6
def test2():
    print(a+b)

In [ ]:
test2()

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

In [ ]:
myfunc(5)

In [8]:
a = 1
def add():
    b=5
    return(a+b)

In [9]:
add()

6

In [11]:
a

1

In [10]:
b

NameError: name 'b' is not defined

In [12]:
def prime(n):
    for i in range(2,n):
        if n%i == 0:
            return('It is a prime no.)

SyntaxError: EOL while scanning string literal (<ipython-input-12-e3c23b10798f>, line 4)

In [13]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [14]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [18]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [19]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [20]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

In [22]:
import datetime

x = datetime.datetime.now()
y = (x.strftime("%A"))
print(x)
print(y)

2022-08-05 12:22:37.031286
Friday

# JSON

In [23]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

In [29]:
y = json.loads(x)  #json to python
print(y)
y['age']

{'name': 'John', 'age': 30, 'city': 'New York'}

30

In [32]:
type(x)

dict

In [33]:
type(y)

str

In [31]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

y = json.dumps(x) # python to json
x

{'name': 'John', 'age': 30, 'city': 'New York'}

# Try Except

In [39]:
print(f)

NameError: name 'f' is not defined

Except

In [36]:
try:
  print(f)
except:
  print("An exception occurred")

An exception occurred

Many Exception

In [38]:
try:
  print(f)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

Else

In [40]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [41]:
try:
  print(f)
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Something went wrong

# Finally

In [42]:
try:
  print(f)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [46]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang",color = "Red"))

I have a Ford, it is a Mustang.

# File Handling

In [52]:
f = open("demofile.txt")

In [48]:
f

In [78]:
f = open("demofile.txt", "r")
print(f.read())
f.close()

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

In [79]:
print(f.readline())

ValueError: I/O operation on closed file.

In [10]:
f = open('Demofile.txt')
print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!Now the file has more content!
Now the file has more content!

In [8]:
f = open('Demofile.txt','a')
f.write(" \nNow the file has more content!")
f.close()

In [4]:
f.read()

ValueError: I/O operation on closed file.

In [11]:
f = open("demofile1.txt", "x")

In [13]:
f.write("Hey I am Ankush, \nNow the file has more content!")
#print(f.read())

48

In [15]:
f = open("demofile1.txt")
f.read()

'Hey I am Ankush, \nNow the file has more content!Hey I am Ankush, \nNow the file has more content!'

In [23]:
type(print("xyz"))

xyz

NoneType

In [27]:
def test1():
    a = 1
    b = 6
    return(a+b)

In [28]:
test1()

7

In [29]:
test1() + 5

12

In [1]:

# importing the module
import pandas as pd
 
# creating a sample dataframe
data = pd.DataFrame({'Brand': ['Maruti', 'Hyundai', 'Tata',
                               'Mahindra', 'Maruti', 'Hyundai',
                               'Renault', 'Tata', 'Maruti'],
                     'Year': [2012, 2014, 2011, 2015, 2012,
                              2016, 2014, 2018, 2019],
                     'Kms Driven': [50000, 30000, 60000,
                                    25000, 10000, 46000,
                                    31000, 15000, 12000],
                     'City': ['Gurgaon', 'Delhi', 'Mumbai',
                              'Delhi', 'Mumbai', 'Delhi',
                              'Mumbai', 'Chennai',  'Ghaziabad'],
                     'Mileage':  [28, 27, 25, 26, 28,
                                  29, 24, 21, 24]})
 
# displaying the DataFrame
display(data)

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       28
1   Hyundai  2014       30000      Delhi       27
2      Tata  2011       60000     Mumbai       25
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       28
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       24
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24

In [2]:
display(data.loc[2: 5])

      Brand  Year  Kms Driven    City  Mileage
2      Tata  2011       60000  Mumbai       25
3  Mahindra  2015       25000   Delhi       26
4    Maruti  2012       10000  Mumbai       28
5   Hyundai  2016       46000   Delhi       29

In [4]:
display(data.iloc[0])

Brand          Maruti
Year             2012
Kms Driven      50000
City          Gurgaon
Mileage            28
Name: 0, dtype: object